  <html>
       
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
        
    <body>
        <h2 class='header'>Available Endpoints</h2>   

            <h4 class='tabbed'>train</h4>
            <p class='tabbed'>send request to train with data to create ets model for prediction</p>
            <h4 class='tabbed'>predict</h4>
            <p class='tabbed'>send request to predict if model exists to predict, include number of periods to forecast</p>
            
    </body>
</html>